* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica", sans-serif;
 line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

header h1 {
  margin-bottom: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  margin: 10px auto;
  padding: 20px;
  max-width: 1200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.item{
  display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
.item:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin-top: 10px;
}

.column {
  flex: 1 1 45%;
  min-width: 280px;
}


.column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
ul{
  padding-left: 40px;
  padding-top: 10px;
}

p{
  padding-left: 10px;
  padding-top: 1px;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .column img {
    width: 80%;   
    margin: 0 auto;
    display: block;
}

  nav {
    justify-content: center;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .column img {
    width: 70%;    
    margin: 0 auto;
    display: block;
  }

  header h1 {
    font-size: 1.4rem;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    display: block;
    text-align: center;
  }

  section {
    padding: 15px;
  }

  .item {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
